@import "../partials/reset";
@import "../partials/mixins";
@import "../partials/variables";

#about {
  padding: 2rem;
  text-align: center;
  position: relative;
  min-height: 480px;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $glass-light;
  margin: 7rem 0 2rem;
  header {
    img {
      @include glass-effect($glass-dark, 10px, 0.85);
      padding: .3rem;
      max-width: 200px;
      background-color: $text-light;
      border-radius: 8px;
      position: absolute;
      top: calc(100% / 2);
      right: 20px;
      transform: translateY(-50%);
    }
    h1 {
      max-width: calc(100% - 200px);
      font-size: 3rem;
      text-align: center;
      margin-bottom: 0.5rem;
      text-align: left;
    }
    h2 {
      max-width: calc(100% - 200px);
      font-size: 2.5rem;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      text-align: left;
    }
  }

  p {
    max-width: calc(100% - 200px);
    text-align: left;
    font-size: 1.2rem;
    color: $text-light;
    line-height: 1.8;
  }
}

@media screen and (max-width: 660px) {
  #about{
    padding: 1rem;
    header{
      h1, h2 {
        max-width: 100%;
        font-size: 2rem;
        text-align: center;
      }
      h2{
        font-size: 1rem;
      }
      img{
        position: relative;
        top: 0;
        right: 0;
        transform: translateY(0);
      }
    }
    p{
      max-width: 100%;
    }
  }
}