@import "../partials/reset";
@import "../partials/mixins";
@import "../partials/variables";

#header {
  background-color: $glass-light;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 4px 8px $glass-dark;
  transition: .3s all ease-in-out;

  nav {
    ul {
      padding-left: 0;
      display: flex;
      justify-content: center;
      li {
        list-style: none;
        flex: 1;
        text-align: center;
        a,
        select {
          margin: 0 1.5rem;
          font-size: 1.1rem;
          text-transform: uppercase;
          position: relative;

          &:hover {
            text-decoration: underline;
          }
        }
        select {
          background-color: transparent;
          border: none;
          outline: none;
          color: $color-soft-accent;
          cursor: pointer;
        }
      }
    }
  }
}
#header-dark {
  @extend #header;
  background-color: $text-inverted;
  transition: .3s all ease-in-out;
}
@media screen and (max-width: 660px) {
  #header {
    padding: 0.5rem 0;
    nav {
      position: absolute;
      top: -200px;
      left: 0;
      right: 0;
      transition: .5s all ease-in-out;
      ul {
        flex-wrap: wrap;
        li {
          a,
          select {
            font-size: .8rem;
            margin: 0 .4rem;
          }
        }
      }
      &.show{
        top: 0;
      }
    }
    .hamburger,
    .close {
      display: inline-block;
      padding: 0 0 30px 0;
      div {
        width: 20px;
        padding: 6px 0;
        left: 20px;
        top: 0px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        transition: .3s all ease-in-out;
        span {
          width: 20px;
          height: 2px;
          background-color: #fff;
          display: block;
          margin-bottom: 4px;
          &:last-child {
            &::after {
              content: "";
              width: 20px;
              height: 2px;
              background-color: #fff;
              display: block;
              top: 6px;
              position: relative;
            }
          }
        }
        &:hover {
          transform: scale(1.1);
          transform-origin: center;
        }
      }
    }
    .close{
      div{
        top: 40px;
        span{
          &:first-child{
            transform: rotate(-45deg) translate(-4px);
          }
          &:last-child{
            transform: rotate(45deg) translate(-4px);
            &::after{
              content: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #header{
    nav {
      ul{
        align-items: flex-end;
        margin-right: 8px;
        li{
          a{
            line-height: 1.2;
          }
        }
      }
    }
  }
}